@font-face {
  font-family: 'Addelle Sans';
  src: url('../fonts/Addelle\ Sans\ \ Bold.woff2') format('woff2'),
    url('../fonts/Addelle\ Sans\ \ Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Addelle Sans';
  src: url('../fonts/Addelle\ Sans\ .woff2') format('woff2'),
    url('../fonts/Addelle\ Sans\ .woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/Space\ Grotesk\ Light.woff2') format('woff2'),
    url('../fonts/Space\ Grotesk\ Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/Space\ Grotesk\ Medium.woff2') format('woff2'),
    url('../fonts/Space\ Grotesk\ Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

:root {
  --green-300: hsl(157, 36%, 63%);
  --green-500: hsl(158, 100%, 26%);
  --green-800: hsl(166, 45%, 14%);
  --orange-500: hsl(16, 100%, 61%);
}

/* universal */

body {
  font-family: 'Adelle Sans', sans-serif;
  font-weight: 300;
  color: var(--text);
}

a {
  text-decoration: none;
}

/* section styling */

.section--white {
  background-color: white;
}

.section--light-green {
  background-color: hsl(156, 36%, 89%);
}

.section--light-green h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: var(--green-800);
}

.section--dark-green {
  background-color: var(--green-800);
}

.section--dark-green a {
  color: hsl(0, 0%, 100%);
}

.section--dark-green h2 {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.section--dark-green h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--green-300);
  font-weight: 300;
}

.section--dark-green h4 {
  color: hsl(156, 36%, 89%);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.section--dark-green h5 {
  color: var(--orange-500);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.section--dark-green p {
  color: white;
}

.button {
  padding: 0.9rem 1.5rem;
  font-family: 'Addelle Sans', sans-serif;
  font-weight: 700;
  border: none;
  background-color: var(--orange-500);
  color: white;
}

.button:hover {
  filter: brightness(1.1);
}

header {
  margin: 1.2rem 1.6rem;
  margin-bottom: 2.5rem;
}

.header__ribbon {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.header__check {
  list-style-image: url(../images/usp-check.svg);
  display: flex;
  justify-content: space-between;
  width: 50.9619rem;
  margin-left: -1rem;
}

@media (max-width: 75.9375rem) {
  .header__check {
    display: none;
  }
}

.header__contact {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 20rem;
  min-width: 16.875rem;
  padding: 0rem;
  white-space: nowrap;
}

@media (max-width: 36.25rem) {
  .header__contact {
    font-size: 0.8rem;
  }
}

.header__contact img {
  width: 1rem;
  margin-right: 0.3rem;
}

.header__contact a {
  display: flex;
  padding-right: 1rem;
  color: var(--text);
}

.phone,
.mail {
  text-decoration: underline;
}

.phone:hover,
.mail:hover {
  text-decoration: none;
}

nav {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 61.9375rem) {
  nav {
    display: block;
  }
}

.logo {
  width: 16.875rem;
}

@media (max-width: 61.9375rem) {
  .logo {
    width: 26.875rem;
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 1.2rem;
  width: 73%;
  min-width: 16.875rem;
}

@media (max-width: 61.9375rem) {
  nav ul {
    justify-content: space-around;
    width: 100%;
    height: 2.2rem;
    padding-left: 0;
    margin-top: 1.5rem;
  }
}

@media (max-width: 36.25rem) {
  nav ul {
    flex-wrap: wrap;
  }
}

nav ul li {
  margin-left: 3rem;
}

nav li a {
  color: var(--green-800);
  text-decoration: none;
}

nav ul li:hover {
  color: var(--green-500);
  cursor: pointer;
}

.contact--orange {
  font-family: 'Adelle Sans', sans-serif;
  font-weight: 700;
  background-color: var(--orange-500);

  padding: 0.7rem 1.3rem;
}

.contact--orange a {
  color: hsl(0, 0%, 100%);
}

.contact--orange:hover {
  color: white;
  filter: opacity(0.9);
}

@media (max-width: 61.9375rem) {
  nav ul li,
  .contact--orange {
    text-align: center;
    font-family: 'Adelle Sans', sans-serif;
    font-weight: 400;
    color: var(--green-500);
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid var(--green-500);
    height: 2.2rem;
    width: 25%;
    padding: 0.1rem 0rem;
    white-space: nowrap;
    margin: auto;
  }
  nav li a,
  .contact--orange a {
    color: hsl(158, 100%, 26%);
  }
  nav li:hover,
  .contact--orange:hover {
    background-color: #d9ede5;
  }
}

@media (max-width: 36.25rem) {
  nav ul li,
  .contact--orange {
    width: 50%;
  }
}

.footer__banner {
  position: absolute;
  z-index: -10rem;
  top: -11rem;
  width: 95%;
  min-width: 16.875rem;
  height: 19.0625rem;
  background-color: hsl(158, 100%, 26%);
  margin-left: 2.5%;
  background-image: url(../images/footer-cta-image.svg);
  background-repeat: no-repeat;
  background-position-x: 94%;
}

@media (max-width: 69.375rem) {
  .footer__banner {
    background-image: none;
  }
}

.footer__banner__info {
  width: 33.75rem;
  margin: 3rem;
}

@media (max-width: 43.125rem) {
  .footer__banner__info {
    width: 80%;
    margin: 2rem;
  }
}

.footer__banner h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 69.375rem) {
  .footer__banner h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 43.125rem) {
  .footer__banner h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 32.1875rem) {
  .footer__banner h2 {
    font-size: 1rem;
  }
}

@media (max-width: 69.375rem) {
  .footer__banner h3 {
    font-size: 1rem;
  }
}

@media (max-width: 32.1875rem) {
  .footer__banner h3 {
    font-size: 0.9rem;
  }
}

.footer__banner__contact {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

@media (max-width: 32.1875rem) {
  .footer__banner__contact {
    display: block;
  }
}

.footer__banner__contact a {
  font-size: 1.3rem;
  color: hsl(156, 36%, 89%);
}

@media (max-width: 69.375rem) {
  .footer__banner__contact a {
    font-size: 1.1rem;
  }
}

@media (max-width: 32.1875rem) {
  .footer__banner__contact a {
    font-size: 0.9rem;
  }
}

footer {
  position: relative;
  width: 100%;
  justify-content: center;
  padding-top: 11.25rem;
  /* margin-top: 15rem; */
}

.footer__clickables {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding-bottom: 2rem;
}

@media (max-width: 61.9375rem) {
  .footer__clickables {
    flex-wrap: wrap;
  }
}

@media (max-width: 30rem) {
  .footer__clickables {
    flex-direction: column;
    padding-left: 1rem;
  }
}

.footer__logo {
  height: 6.5994rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__links ul {
  padding-left: 1rem;
  list-style-image: url(../images/arrow-right-orange.svg);
}

.footer__links h3 {
  padding-bottom: 1rem;
}

.footer__links a {
  padding-bottom: 1rem;
}

.footer__links li {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.footer__links p {
  color: hsl(165, 7%, 57%);
}

.footer__contact a {
  display: flex;
}

.footer__contact img {
  width: 1rem;
  margin-right: 0.5rem;
}

.credits {
  font-size: 0.86rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  color: hsl(165, 7%, 57%);
}

/* multiple page */

.hero {
  position: relative;
  background-image: url(../images/stihl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  min-height: 32.2625rem;
}

@media (min-width: 90rem) {
  .hero {
    height: 40rem;
  }
}

.hero--onderhoud {
  background-image: url(../images/heggeschaar.png);
}

.hero__main {
  padding-top: 2rem;
}

.hero__intro {
  background-color: white;
  max-width: 37.5rem;
  min-width: 13.5rem;
  margin-left: 1.5rem;
  margin-right: 5rem;
}

.hero h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  padding: 1rem 0rem 0rem 1rem;
}

.hero__intro p {
  padding: 1rem;
}

@media (min-width: 37.5rem) {
  .hero__intro h1 {
    padding: 1rem 0rem 0rem 3rem;
  }
  .hero__intro p {
    padding: 1rem 3rem 1rem 3rem;
  }
}

@media (min-width: 48.125rem) {
  .hero__intro h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 61.9375rem) {
  .hero__intro h1 {
    font-size: 4rem;
  }
  .hero__intro p {
    font-size: 1.2rem;
  }
}

@media (min-width: 90rem) {
  .hero__intro p {
    line-height: 2.3rem;
  }
}

.breadcrumbs {
  display: flex;
  background-color: white;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
  width: fit-content;
  font-size: 0.9rem;
}

@media (min-width: 30rem) {
  .breadcrumbs {
    margin-bottom: 1rem;
  }
}

@media (min-width: 37.5rem) {
  .breadcrumbs {
    width: 13.2131rem;
    justify-content: center;
  }
}

.breadcrumbs img {
  padding: 0rem 0.6rem;
}

.breadcrumbs a {
  color: var(--green-800);
}

.hero__contact {
  display: flex;
  position: absolute;
  background-color: hsl(156, 36%, 89%);
  width: 18.35rem;
  height: 6.5625rem;
  bottom: 0;
  right: 0;
  margin-top: 1rem;
}

@media (min-width: 61.9375rem) {
  .hero__contact {
    width: 22.5rem;
  }
}

@media (min-width: 90rem) {
  .hero__contact {
    width: 26rem;
  }
}

.hero__contact__text {
  margin: auto;
  padding: 0.8rem;
}

@media (min-width: 90rem) {
  .hero__contact__text {
    padding: 0rem 2rem;
  }
}

.hero__contact h2 {
  font-size: 1.2rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

@media (min-width: 61.9375rem) {
  .hero__contact__text h2 {
    font-size: 1.5rem;
  }
}

.hero__contact__text img {
  padding-right: 0.6rem;
  width: 1.6rem;
  aspect-ratio: 1 / 1;
}

.hero__contact__text a {
  color: var(--green-800);
  font-size: 1.2rem;
}

.hero__contact__arrow {
  background-color: var(--green-500);
  padding: 2.35rem 1.4rem;
  margin: auto;
  margin-right: 0;
}

@media (min-width: 61.9375rem) {
  .hero__contact__arrow {
    padding: 2.01rem 1.4rem;
  }
}

@media (min-width: 90rem) {
  .hero__contact__arrow {
    padding: 2.01rem 2.01rem;
  }
}

.hero__contact__arrow img {
  width: 1.875rem;
  aspect-ratio: 1 / 1;
}

@media (min-width: 61.9375rem) {
  .hero__contact__arrow img {
    width: 2.5rem;
  }
}

.hero__contact .phone {
  display: flex;
}

@media (min-width: 61.9375rem) {
  .totaalaanpak {
    display: flex;
  }
}

.totaalaanpak__text {
  padding: 1.5rem;
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__text {
    width: 45%;
    margin: auto;
    margin-left: 0rem;
  }
}

.totaalaanpak__text h4 {
  font-size: 1.1rem;
}

@media (min-width: 47.9375rem) {
  .totaalaanpak__text h4 {
    font-size: 1.2rem;
  }
}

.totaalaanpak__text h5 {
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 0rem;
}

@media (min-width: 47.9375rem) {
  .totaalaanpak__text h5 {
    font-size: 2.3rem;
  }
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__text h5 {
    font-size: 2.7rem;
    line-height: 2.7rem;
    padding: 1.2rem 0rem;
  }
}

@media (min-width: 90rem) {
  .totaalaanpak__text h5 {
    padding: 2rem 0rem;
  }
}

.totaalaanpak__text p {
  font-size: 0.9rem;
  line-height: 1.6rem;
  width: 90%;
  padding: 0.7rem 0rem 1.1rem 0rem;
}

@media (min-width: 47.9375rem) {
  .totaalaanpak__text p {
    font-size: 1rem;
  }
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__text p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding-top: 1.5rem;
  }
}

@media (min-width: 90rem) {
  .totaalaanpak__text p {
    padding-bottom: 3.5rem;
  }
}

.totaalaanpak__text button {
  font-size: 0.9rem;
}

.totaalaanpak__text button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__text button {
    font-size: 1.1rem;
  }
}

.totaalaanpak__img {
  padding: 7rem 0rem 7rem 2rem;
}

.totaalaanpak__img img {
  justify-content: center;
  min-width: 16.875rem;
  width: 16.875rem;
  height: 21.875rem;
  object-fit: cover;
  margin: auto;
  margin-right: 2rem;
}

@media (min-width: 30rem) {
  .totaalaanpak__img img {
    margin-right: auto;
    /* padding-left: 3rem; */
  }
}

@media (min-width: 47.9375rem) {
  .totaalaanpak__img img {
    width: 24.0625rem;
    height: 26.25rem;
  }
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__img img {
    width: 30.9375rem;
    height: 33.75rem;
    margin-right: 2rem;
  }
}

@media (min-width: 90rem) {
  .totaalaanpak__img img {
    width: 37.8125rem;
    height: 41.25rem;
  }
}

.totaalaanpak__img__background {
  background-image: url(../images/dark-bg-pattern-rechts.svg);
  background-repeat: no-repeat;
  background-size: 85% 80%;
  background-position: 50% 100%;
  overflow-x: visible;
}

@media (min-width: 30rem) {
  .totaalaanpak__img__background {
    background-size: 65%;
    background-position: 3rem 50%;
  }
}

@media (min-width: 61.9375rem) {
  .totaalaanpak__img__background {
    background-size: 44rem;
    background-position-x: 0rem;
    width: 50%;
  }
}

.section__footer-top {
  /* display: flex; */
  padding-bottom: 17rem;
}

.onze-werkwijze h3 {
  padding-bottom: 1rem;
}

.onze-werkwijze {
  padding-top: 3.5rem;
  padding-left: 1.5rem;
  margin-bottom: 7rem;
}

.onze-werkwijze p {
  font-size: 0.9375rem;
  padding-bottom: 2.5rem;
  margin-right: 1.5rem;
  line-height: 1.5625rem;
}

.daarom-schrauwen {
  padding-left: 1.5rem;
}

.daarom-schrauwen ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2.1875rem;
}

.daarom-schrauwen li {
  display: flex;
  padding-bottom: 1.125rem;
  border-bottom: 1px solid var(--orange-500);
  margin-bottom: 1.125rem;
}

.daarom-schrauwen li:last-of-type {
  border-bottom: none;
}

.daarom-schrauwen img {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  margin-right: 1rem;
}

/* first page */

.schrauwen-in-view {
  display: flex;
  overflow-x: scroll;
}

.schrauwen-in-view article {
  min-width: 14.2422rem;
  padding: 0rem 1.5625rem;
}

.schrauwen-in-view img {
  min-width: 14.2422rem;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

/* references */

.references-filtered {
  padding-bottom: 15rem;
}
